<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="RestaurantDb"
			 connectionString="Data Source=127.0.0.1,1433;Initial Catalog=RestaurantDB;Integrated Security=True;TrustServerCertificate=True"
			 providerName="Microsoft.Data.SqlClient" />
	</connectionStrings>


	<appSettings>
		<add key="DiscountMeniu" value="10" />
		<add key="PragDiscountSuma" value="150" />
		<add key="NrComenziPentruDiscount" value="3" />
		<add key="NrZilePentruDiscount" value="30" />
		<add key="DiscountClientFidel" value="5" />
		<add key="PragLivrareGratuita" value="100" />
		<add key="CostLivrareSubPrag" value="15" />
		<add key="PragAproapeEpuizat" value="500" />
	</appSettings>
</configuration>
