<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="RestaurantDb"
			 connectionString="Data Source=localhost;Initial Catalog=RestaurantDB;Integrated Security=True"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>

	<appSettings>
		<!-- Reducere la meniu -->
		<add key="DiscountMeniu" value="10" />
		<!-- x -->

		<!-- Reducere la comenzi peste prag -->
		<add key="PragDiscountSuma" value="150" />
		<!-- y -->

		<!-- Reducere pentru clienți fideli -->
		<add key="NrComenziPentruDiscount" value="3" />
		<!-- z -->
		<add key="NrZilePentruDiscount" value="30" />
		<!-- t -->
		<add key="DiscountClientFidel" value="5" />
		<!-- w -->

		<!-- Cost livrare -->
		<add key="PragLivrareGratuita" value="100" />
		<!-- a -->
		<add key="CostLivrareSubPrag" value="15" />
		<!-- b -->

		<!-- Prag stoc redus -->
		<add key="PragAproapeEpuizat" value="500" />
		<!-- c -->
	</appSettings>
</configuration>
